<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post-Review</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">More Recipes</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group" id="searcRecipe">
                            <input type="text" class="form-control" id="searcrecipe" placeholder="Search">
                        <button type="submit" id="search" class="btn btn-default">search</button>
                      </div>                      
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="favourites"href="favourite.html">My Favourites</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-sideBar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="https://images.vexels.com/media/users/3/131321/isolated/preview/76677f4f3eb3559fed4e7011f3d8d2a1-man-cartoon-head-3-by-vexels.png" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Clint Fidel
                        </div>
                        <div class="profile-usertitle-job">
                            Andela Software Developer
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">ADD RECIPES</button>
                        <button type="button" class="btn btn-danger btn-sm">DELETE RECIPES</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="favourite.html">
                                        My Favourites </a>
                            </li>
                            
                            <li>
                                <a href="profile.html">
                                        View Profile </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                        Tasks </a>
                            </li>
                            <li>
                                <a href="profile.html">
                                        Edit-Profile </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
                        
            <h2 class="text-center" style="font-family:Lobster; font-size: 30px; font-weight: bold; color:#d64d1a">TOP RECIPES</h2>
            <div class="container">
        <div class="row">
<div class="col-xs-18 col-sm-6 col-md-3 recipe">               
   <img class="card-img-top" src="images/recipe2.jpg" alt="Card image cap">
                <div class="card-block">
                   <h4 class="card-title">spaghetti bolognaise</h4><hr>
                    <h5>By: Daniel zspper</h5>
                    
                </div>
            </div>
<div class="col-xs-18 col-sm-6 col-md-3 recipe">               
   <img class="card-img-top" src="images/recipe2.jpg" alt="Card image cap">
                <div class="card-block">
                   <h4 class="card-title">spaghetti bolognaise</h4><hr>
                    <h5>By: Daniel zspper</h5>
                    
                </div>
            </div>
<div class="col-xs-18 col-sm-6 col-md-3 recipe">                
  <img class="card-img-top" src="images/recipe2.jpg" alt="Card image cap">
                <div class="card-block">
                   <h4 class="card-title">spaghetti bolognaise</h4><hr>
                    <h5>By: Daniel zspper</h5>
                    
                </div>
            </div>
<div class="col-xs-18 col-sm-6 col-md-3 recipe">                
  <img class="card-img-top" src="images/recipe2.jpg" alt="Card image cap">
                <div class="card-block">
                   <h4 class="card-title">spaghetti bolognaise</h4><hr>
                    <h5>By: Daniel zspper</h5>
                  
                </div>
            </div>
<div class="col-xs-18 col-sm-6 col-md-3 recipe">               
  <img class="card-img-top" src="images/recipe2.jpg" alt="Card image cap">
                <div class="card-block">
                   <h4 class="card-title">spaghetti bolognaise</h4><hr>
                    <h5>By: Daniel zspper</h5>
                  
                </div>
            </div>
<div class="col-xs-18 col-sm-6 col-md-3 recipe">               
   <img class="card-img-top" src="images/recipe2.jpg" alt="Card image cap">
                <div class="card-block">
                   <h4 class="card-title">spaghetti bolognaise</h4><hr>
                    <h5>By: Daniel zspper</h5>
                  
                </div>
            </div>
        </div>
    </div>
  </div>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>