html, body {
    height: auto;
}
body {
  background: linear-gradient(to bottom, rgb(222, 166, 140), rgba(62, 37, 12, 0.65)), url(../images/recipe1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

* {
    margin: 0;
  }
.wrapper {
    min-height: 100%;
    padding-top: 90px;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

.navbar-brand{
  font-size: 32px;
  font-weight: bold;
  font-family: Lobster, sans-serif;
  color: white !important;
}

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #d64d1a;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color:#d64d1a;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 10px black;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #d64d1a;
  border-color: #d64d1a;
  border-radius: 15px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.forgot-password {
  color: #888;
}
.text-center a:hover,
.text-center a:focus {
  text-decoration: underline;
  font-size: 20px;
  color: #d64d1a;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}


.btn-register {
  background-color: #d64d1a;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 10px black;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #d64d1a;
  border-color: #d64d1a;
  border-radius: 15px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.form-align{
  float: left;
}

/*
The Navbar CSS
*/

.navbar {
background:#d64d1a;
border: none;

}

.nav>li>a, li>a:focus, li>a:hover, li>a, li{
  border-bottom: 3px solid transparent;
  font-weight: bold;
  font-size: 15px;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, li>a:focus, li>a:hover{
  border-bottom: 3px solid transparent;
  background: rgba(154, 154, 154, 0.27);
}
.navbar a, li>a, li>a:focus, li>a:hover, .navbar-toggle{
 color: #fff !important;
 
}
.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: underline;
}
#mynavbar {
  color: #fff;
}
.navbar-toggle .icon-bar{
    color: #fff;
    background: #000000;
}

/*The footer CSS */
.copyrights {
    padding: 1.5em 0em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #fff;
    margin-top: 150px;
    width: 100%;
}
.copyrights p {
    font-size: 1em;
    color: #696969;
    margin-bottom: 0;
}
.copyrights p a{
    color: #d64d1a;
}
.copyrights p a:hover{
    color:#696969;
}

/* css for USER-PAGE

Profile container */
.profile {
  margin: 20px 0;
  padding-top: 20px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 60px 0 100% 0;
  background: #fff;
  margin-left: -60px;
  height: 100%;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}
#default {
  background-color:lightblue;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 3px solid rgb(222, 166, 140);
}

.profile-usermenu ul li:first-child {
  border-top: 3px solid rgb(222, 166, 140);
}


.profile-usermenu ul li a {
  color:#000 !important;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: rgba(222, 166, 140, .5);
  color: #000;
  padding-left: 30px;
  -webkit-transition: .5s;
  transition: 1s;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
}

#myModal {
  display: block; padding-left: 17px;
}
/* Profile Content */

.thumbnail {
  padding:0;
  float: right;
}
/*CSS FOR USER-REVIEW PAGE
*/
#searchRecipe {
  margin-right: 470px !important;
}
.favourites {
  color: #fff !important;
  font-family: Lobster, sans-serif;
  font-size: 20px !important;
}
.profile-sideBar {
  height: auto;
  background-color:white;
  position: right;
  padding-left: -20px;
  margin-left: 50px;
}
.recipe {
  background-color: #fff;
  margin: 5px; 
}

/*ADD RECIPE MODAL*/

.addrecipemodal-container {
  padding: 30px;
  width: auto !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.addrecipemodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.addrecipemodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.addrecipemodal-container input[type=text]{
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.addrecipemodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.addrecipemodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.addrecipemodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #d64d1a;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.addrecipemodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #d64d1a;
 }

.addrecipemodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

nav > li > a {
  color: #fff !important;
}